*{
  margin: 0;
}
.App{
  background-color: #fafafa;
}
.app__header{  
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__headerImage{
  object-fit: contain;
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postsRight{
  margin-left:20px
}

@media only screen and (max-width: 571px){
  .app__postsRight{
      display: none;
  }
}